In [1]:
import pandas as pd
import os

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
os.getcwd()

'/Users/dhanaprakashdurairaj/Documents/GitHub/nba-player-analytics/Practice'

In [4]:
# File to Load (Remember to change these)
player_stats_201617_data_to_load = "../Resources/NBA Players Stats 201617.csv"
player_stats_201718_data_to_load = "../Resources/NBA Players Stats 201718.csv"
player_stats_201819_data_to_load = "../Resources/NBA Players Stats 201819.csv"
player_stats_201920_data_to_load = "../Resources/NBA STATs19-20.csv"

player_salary_2019_to_present_data_to_load = "../Resources/NBA_salaries_2019_present.csv"
player_salary_2016_to_2019_data_to_load = "../Resources/nba_stats_salaries_16-19.csv"

print(player_stats_201617_data_to_load)
print(player_stats_201718_data_to_load)
print(player_stats_201819_data_to_load)
print(player_stats_201920_data_to_load)

print(player_salary_2016_to_2019_data_to_load)
print(player_salary_2019_to_present_data_to_load)

../Resources/NBA Players Stats 201617.csv
../Resources/NBA Players Stats 201718.csv
../Resources/NBA Players Stats 201819.csv
../Resources/NBA STATs19-20.csv
../Resources/nba_stats_salaries_16-19.csv
../Resources/NBA_salaries_2019_present.csv

In [5]:
print(os.path.isfile(player_stats_201617_data_to_load))
print(os.path.isfile(player_stats_201718_data_to_load))
print(os.path.isfile(player_stats_201819_data_to_load))
print(os.path.isfile(player_stats_201920_data_to_load))

print(os.path.isfile(player_salary_2016_to_2019_data_to_load))
print(os.path.isfile(player_salary_2019_to_present_data_to_load))

True
True
True
True
True
True

In [6]:
# Read the Player Stat and Salary Data
player_stats_201617_df = pd.read_csv(player_stats_201617_data_to_load)
player_stats_201718_df = pd.read_csv(player_stats_201718_data_to_load)
player_stats_201819_df = pd.read_csv(player_stats_201819_data_to_load)
player_stats_201920_df = pd.read_csv(player_stats_201920_data_to_load)

player_salary_2016_to_2019_df = pd.read_csv(player_salary_2016_to_2019_data_to_load)
player_salary_2019_to_present_df = pd.read_csv(player_salary_2019_to_present_data_to_load)

dataframe_analyzed_df = player_stats_201819_df

In [7]:
dataframe_analyzed_df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,√Ålex Abrines\abrinal01,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams\adamsst01,C,25,OKC,80,80,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,28,23.3,3.4,5.9,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,528,Tyler Zeller\zellety01,C,29,MEM,4,1,20.5,4.0,7.0,...,0.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
704,529,Ante ≈Ωi≈æiƒá\zizican01,C,22,CLE,59,25,18.3,3.1,5.6,...,0.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
705,530,Ivica Zubac\zubaciv01,C,21,TOT,59,37,17.6,3.6,6.4,...,0.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
706,530,Ivica Zubac\zubaciv01,C,21,LAL,33,12,15.6,3.4,5.8,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
707,530,Ivica Zubac\zubaciv01,C,21,LAC,26,25,20.2,3.8,7.2,...,0.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [8]:
dataframe_analyzed_df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,√Ålex Abrines\abrinal01,SG,25,OKC,31,2,19.0,1.8,5.1,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,0,12.3,0.4,1.8,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,1,12.6,1.1,3.2,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,4,Steven Adams\adamsst01,C,25,OKC,80,80,33.4,6.0,10.1,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,28,23.3,3.4,5.9,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [9]:
dataframe_analyzed_df.count()

Rk        708
Player    708
Pos       708
Age       708
Tm        708
G         708
GS        708
MP        708
FG        708
FGA       708
FG%       702
3P        708
3PA       708
3P%       661
2P        708
2PA       708
2P%       693
eFG%      702
FT        708
FTA       708
FT%       665
ORB       708
DRB       708
TRB       708
AST       708
STL       708
BLK       708
TOV       708
PF        708
PTS       708
dtype: int64

In [10]:
dataframe_analyzed_df.isnull().sum()

Rk         0
Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        6
3P         0
3PA        0
3P%       47
2P         0
2PA        0
2P%       15
eFG%       6
FT         0
FTA        0
FT%       43
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
dtype: int64

In [11]:
dataframe_analyzed_df.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,702.000000,708.000000,708.000000,...,665.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000
mean,268.357345,26.142655,42.882768,19.847458,19.265254,3.091949,6.885028,0.437301,0.884181,2.558898,...,0.739629,0.821610,2.738701,3.557345,1.834605,0.609746,0.370339,1.033475,1.724859,8.384322
std,150.783267,4.141178,26.282043,25.858704,9.023905,2.116415,4.396151,0.109997,0.788803,2.059268,...,0.143505,0.771119,1.870375,2.488335,1.642428,0.420888,0.387384,0.748687,0.812302,5.828200
min,1.000000,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,137.750000,23.000000,19.000000,0.000000,12.200000,1.500000,3.500000,0.400000,0.300000,0.900000,...,0.684000,0.300000,1.475000,1.800000,0.800000,0.300000,0.100000,0.500000,1.200000,4.000000
50%,269.500000,26.000000,44.000000,6.000000,19.100000,2.600000,6.000000,0.434000,0.800000,2.200000,...,0.763000,0.600000,2.300000,3.000000,1.300000,0.500000,0.300000,0.900000,1.700000,7.000000
75%,398.250000,29.000000,68.000000,32.000000,27.100000,4.200000,9.400000,0.485000,1.300000,3.800000,...,0.825000,1.100000,3.600000,4.625000,2.400000,0.800000,0.500000,1.400000,2.300000,11.500000
max,530.000000,42.000000,82.000000,82.000000,36.900000,10.800000,24.500000,1.000000,5.100000,13.200000,...,1.000000,5.400000,11.100000,15.600000,10.700000,2.400000,2.700000,5.000000,4.000000,36.100000

In [12]:
dataframe_analyzed_df.dtypes

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [13]:
len(dataframe_analyzed_df["Player"])

708

In [14]:
len(dataframe_analyzed_df["Player"].unique())

530

In [15]:
#print (660*3)

In [22]:
dataframe_analyzed_df[['Player','Age']].count()

Player    708
Age       708
dtype: int64

In [25]:
dataframe_analyzed_df[['Player','Age']]

                     Player  Age
0    √Ålex Abrines\abrinal01   25
1        Quincy Acy\acyqu01   28
2    Jaylen Adams\adamsja01   22
3    Steven Adams\adamsst01   25
4     Bam Adebayo\adebaba01   21
..                      ...  ...
703  Tyler Zeller\zellety01   29
704    Ante ≈Ωi≈æiƒá\zizican01   22
705   Ivica Zubac\zubaciv01   21
706   Ivica Zubac\zubaciv01   21
707   Ivica Zubac\zubaciv01   21

[708 rows x 2 columns]